@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    "DM Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    "DM Sans", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: oklch(0.9529 0.0146 102.4597);
  --foreground: oklch(0.4063 0.0255 40.3627);
  --card: oklch(0.9529 0.0146 102.4597);
  --card-foreground: oklch(0.4063 0.0255 40.3627);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4063 0.0255 40.3627);
  --primary: oklch(0.6083 0.0623 44.3588);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.8502 0.0389 49.0874);
  --muted-foreground: oklch(0.5416 0.0512 37.2132);
  --accent: oklch(0.8502 0.0389 49.0874);
  --accent-foreground: oklch(0.4063 0.0255 40.3627);
  --destructive: oklch(0.2225 0.0098 52.9636);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.7473 0.0387 80.5476);
  --input: oklch(0.7473 0.0387 80.5476);
  --ring: oklch(0.6083 0.0623 44.3588);
  --chart-1: oklch(0.6083 0.0623 44.3588);
  --chart-2: oklch(0.5416 0.0512 37.2132);
  --chart-3: oklch(0.7272 0.0539 52.332);
  --chart-4: oklch(0.7473 0.0387 80.5476);
  --chart-5: oklch(0.644 0.0405 52.3917);
  --sidebar: oklch(0.8903 0.0278 49.5658);
  --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
  --sidebar-primary: oklch(0.6083 0.0623 44.3588);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7272 0.0539 52.332);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.644 0.0405 52.3917);
  --sidebar-ring: oklch(0.6083 0.0623 44.3588);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2721 0.0141 48.1783);
  --foreground: oklch(0.9529 0.0146 102.4597);
  --card: oklch(0.3291 0.0156 50.8936);
  --card-foreground: oklch(0.9529 0.0146 102.4597);
  --popover: oklch(0.3291 0.0156 50.8936);
  --popover-foreground: oklch(0.9529 0.0146 102.4597);
  --primary: oklch(0.7272 0.0539 52.332);
  --primary-foreground: oklch(0.2721 0.0141 48.1783);
  --secondary: oklch(0.5416 0.0512 37.2132);
  --secondary-foreground: oklch(0.9529 0.0146 102.4597);
  --muted: oklch(0.4063 0.0255 40.3627);
  --muted-foreground: oklch(0.7575 0.038 50.861);
  --accent: oklch(0.7473 0.0387 80.5476);
  --accent-foreground: oklch(0.2721 0.0141 48.1783);
  --destructive: oklch(0.6875 0.142 21.4566);
  --destructive-foreground: oklch(0.2721 0.0141 48.1783);
  --border: oklch(0.4063 0.0255 40.3627);
  --input: oklch(0.4063 0.0255 40.3627);
  --ring: oklch(0.7272 0.0539 52.332);
  --chart-1: oklch(0.7272 0.0539 52.332);
  --chart-2: oklch(0.7473 0.0387 80.5476);
  --chart-3: oklch(0.6083 0.0623 44.3588);
  --chart-4: oklch(0.5416 0.0512 37.2132);
  --chart-5: oklch(0.644 0.0405 52.3917);
  --sidebar: oklch(0.2225 0.0098 52.9636);
  --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
  --sidebar-primary: oklch(0.7272 0.0539 52.332);
  --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-accent: oklch(0.7473 0.0387 80.5476);
  --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-border: oklch(0.4063 0.0255 40.3627);
  --sidebar-ring: oklch(0.7272 0.0539 52.332);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-sm:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow-md:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 2px 4px -1px hsl(20 18% 30% / 0.11);
  --shadow-lg:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 4px 6px -1px hsl(20 18% 30% / 0.11);
  --shadow-xl:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 8px 10px -1px hsl(20 18% 30% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.cl-button,
.cl-input,
.cl-menuList {
  @apply !shadow-none;
}

.cl-formButtonPrimary {
  @apply inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-primary px-3  font-medium text-primary-foreground !shadow-none ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.cl-formButtonPrimary {
  @apply inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-primary px-3  font-medium text-primary-foreground !shadow-none ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.cl-card,
.cl-socialButtonsBlockButton,
.cl-alert,
.cl-phoneInputBox,
.cl-userButtonPopoverCard,
.cl-organizationSwitcherPopoverCard {
  @apply rounded-lg border border-input bg-background;
}

.cl-headerTitle,
.cl-socialButtonsBlockButtonText,
.cl-loading,
.cl-formFieldLabel,
.cl-formHeaderTitle,
.cl-selectButton__countryCode,
.cl-selectButton__countryCode p,
.cl-selectOption p,
.cl-selectOption div,
.cl-modalCloseButton,
.cl-navbarButton,
.cl-breadcrumbsItem.cl-breadcrumbsItem__currentPage,
.cl-profileSectionTitle p,
.cl-userPreviewTextContainer,
.cl-organizationPreviewTextContainer,
.cl-profileSectionContent p,
.cl-form p,
.cl-accordionTriggerButton,
.cl-organizationSwitcherTrigger {
  @apply text-foreground;
}

.cl-formFieldErrorText {
  @apply !text-destructive;
}

.cl-headerSubtitle,
.cl-dividerText,
.cl-footerActionText,
.cl-alertText,
.cl-formFieldInfoText,
.cl-formFieldSuccessText,
.cl-identityPreviewText,
.cl-userButtonPopoverActionButton,
.cl-userButtonPopoverActionButton svg,
.cl-userButtonPopoverActionButtonText,
.cl-organizationSwitcherPopoverActionButton,
.cl-organizationSwitcherPopoverActionButton svg,
.cl-organizationSwitcherPopoverActionButtonText,
.cl-userButtonPopoverFooter p,
.cl-userButtonPopoverFooter a,
.cl-formHeaderSubtitle,
.cl-breadcrumbsItem,
.cl-breadcrumbsItemDivider,
.cl-fileDropAreaHint,
.cl-fileDropAreaFooterHint,
.cl-form
  p[data-localization-key="userProfile.emailAddressPage.emailCode.formHint"],
p[data-localization-key="userProfile.profilePage.successMessage"] {
  @apply text-muted-foreground;
}

.cl-dividerLine {
  @apply bg-border;
}

.cl-formFieldInput[type="text"],
.cl-formFieldInput[type="email"],
.cl-formFieldInput[type="password"] {
  @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-footerActionLink {
  @apply text-accent-foreground underline hover:text-accent-foreground/90;
}

.cl-otpCodeFieldInput {
  @apply !border !border-input text-foreground;
}

.cl-formResendCodeLink {
  @apply text-primary disabled:opacity-90;
}

.cl-selectSearchInput__countryCode {
  @apply flex h-10 w-full rounded-md border border-b border-input bg-background text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-selectOptionsContainer__countryCode {
  @apply border border-input bg-background;
}

.cl-internal-icon,
.cl-userPreviewSecondaryIdentifier__userButton {
  @apply text-foreground;
}

button[data-localization-key="userProfile.start.dangerSection.deleteAccountButton"] {
  @apply bg-destructive text-white  hover:text-white hover:bg-destructive;
}

.cl-fileDropAreaBox {
  @apply dark:bg-gray-900;
}

.cl-fileDropAreaIconBox {
  @apply dark:bg-gray-800;
}

.cl-fileDropAreaIcon {
  @apply dark:text-gray-400;
}

.cl-fileDropAreaButtonPrimary {
  @apply h-10 px-4 py-2 text-foreground transition-colors hover:bg-secondary hover:text-accent-foreground;
}

.cl-userButtonPopoverActionButton,
.cl-organizationSwitcherPopoverActionButton,
.cl-profileSectionPrimaryButton,
.cl-accordionTriggerButton,
.cl-navbarButton {
  @apply hover:bg-sidebar-accent hover:text-sidebar-accent-foreground;
}

.cl-navbarButton[data-active="true"] {
  @apply bg-sidebar-accent text-sidebar-accent-foreground;
}

.cl-card {
  @apply rounded-lg;
}

.cl-userButtonPopoverCard {
  @apply rounded-md;
}

.cl-userButtonPopoverFooter a {
  @apply hover:text-muted-foreground;
}

.cl-badge {
  @apply rounded-full border border-input bg-background px-2.5 py-0.5 text-xs text-foreground !shadow-none;
}

.cl-badge[data-localization-key="badge__unverified"] {
  @apply border bg-transparent text-destructive dark:text-red-500;
}

.cl-formButtonReset {
  @apply text-foreground hover:bg-secondary;
}

.cl-footer {
  @apply rounded-b-lg border-x border-b bg-background bg-gradient-to-t from-background to-background  text-muted-foreground;
}
.cl-userButtonPopoverFooter,
.cl-organizationSwitcherPopoverFooter {
  @apply rounded-b-lg bg-gradient-to-t from-background to-background;
}

.cl-signIn-start,
.cl-signUp-start,
.cl-signIn-password,
.cl-signIn-alternativeMethods,
.cl-signIn-emailCode {
  @apply rounded-b-none border-b-0;
}

.cl-cardBox {
  @apply rounded-lg shadow-sm;
}

.cl-socialButtonsBlockButton {
  @apply h-10 !border;
}

.cl-alternativeMethods .cl-alternativeMethodsBlockButton {
  @apply h-10 !border border-input text-muted-foreground;
}

.cl-alternativeMethodsBlockButton {
  @apply h-10 !shadow-none;
}

.cl-navbar {
  @apply rounded-lg border-y border-l bg-gradient-to-t from-background to-background;
}

.cl-scrollBox {
  @apply rounded-lg rounded-l-none border border-input bg-gradient-to-t from-background to-background;
}

h1[data-localization-key="userProfile.navbar.title"] {
  @apply text-foreground;
}

.cl-profilePage > .cl-header {
  @apply border-b;
}

.cl-profileSection__profile,
.cl-profileSection__emailAddresses {
  @apply border-b;
}

.cl-menuButton {
  @apply text-foreground hover:text-foreground;
}

.cl-menuList {
  @apply border border-input bg-background;
}

.cl-actionCard {
  @apply border border-input bg-background !shadow-none;
}

.cl-menuItem[data-color="neutral"] {
  @apply text-foreground hover:bg-muted;
}

.cl-avatarImageActionsUpload {
  @apply !border border-input text-foreground;
}

.cl-userButtonPopoverMain,
.cl-organizationSwitcherPopoverMain {
  @apply rounded-lg border-input bg-background;
}

.cl-selectButton {
  @apply !border !border-input;
}

a:hover,
button:hover {
  cursor: pointer;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
